{% extends 'layout/layout.html' %}

{% block conteudo %}
<div class="col-lg-6 text-lg-right pr-lg-4">
    <h1 class="display-1 mb-0">ok</h1>
</div>
<div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
    <h2>Senha alterada</h2>
    <h3 class="font-weight-light">Sua senha foi alterada com sucesso!</h3>
    <p>Clique no link abaixo para voltar a tela de login</p>
</div>
{% endblock %}

{% block botao %}
<a class="text-white font-weight-medium" href="{% url 'login' %}">Voltar para login</a><br>
{% endblock %}