{% extends 'layout/layout_form.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}
<h3 class="card-title text-left mb-3">Redefinir senha</h3>
<p>Você esqueceu sua senha?</p>
<p>Digite o seu e-mail e click em  RECUPERAR SENHA</p>
<form method="post">
    {{form|crispy}}
    {% csrf_token %}

    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-block enter-btn">RECUPERAR SENHA</button>
        <a href="{% url 'login' %}" class="btn btn-info btn-block">Login</a>
    </div>
</form>
{% endblock %}