{% extends 'layout/layout_form.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}
<h3 class="card-title text-left mb-3">Criar nova senha</h3>
    {% if validlink %}
    <form method="post">
        {{form|crispy}}
        {% csrf_token %}
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block enter-btn">Nova senha</button>
            <a href="{% url 'login' %}" class="btn btn-info btn-block">Login</a>
        </div>
    </form>
    {% else %}
        <p>O link de redefinição de senha está inválido, possivelmente porque já fora usado anteriormente. Por favor,
        solicite uma nova redefinição de senha!</p>
    <a href="{% url 'login' %}" class="btn btn-inverse-info">Voltar para Login</a>
    {% endif %}
{% endblock %}