{% extends 'layout/layout_principal.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
 <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{{ funcionario_form.media }}
{% endblock %}

{% block conteudo %}
<div class="page-header">
    <h3 class="page-title">Usuário</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Usuário</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Editar usuário {{funcionario_db.setor}}</h4>
                <form action="" class="forms-sample" autocomplete="off" id="funcionarioForm"
                      data-setores-url="{% url 'setores:setores_ajax' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            {% if funcionario_db.foto %}
                            <img src="{{funcionario_db.foto.url}}" class="img-fluid" alt="foto do funcionario">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                           {{funcionario_form.foto|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{user_form.first_name|as_crispy_field}}
                        </div>
                        <div class="col-md-4">
                            {{user_form.last_name|as_crispy_field}}
                        </div>
                        <div class="col-md-4">
                            {{user_form.email|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{user_form.groups|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{funcionario_form.cpf|as_crispy_field}}
                        </div>
                        <div class="col-md-6">
                            {{funcionario_form.matricula|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{funcionario_form.gerencia|as_crispy_field}}
                        </div>
                        <div class="col-md-6">
                            {{funcionario_form.setor|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                             {{funcionario_form.telefone|as_crispy_field}}
                        </div>
                        <div class="col-md-4">
                             {{funcionario_form.sexo|as_crispy_field}}
                        </div>
                        <div class="col-md-4">
                             {{funcionario_form.data_nascimento|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                             {{funcionario_form.endereco|as_crispy_field}}
                        </div>
                    </div>
                    <div hidden>
                        {{funcionario_form.user}}
                    </div>

                    <button class="btn btn-outline-info" type="submit">Salvar</button>
                    <a class="btn btn-inverse-warning btn-fw" href="{% url 'listar_usuarios' %}">Cancelar</a>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript_src %}
<script src="{% static 'assets/js/mask/jquery.mask.min.js' %}"></script>
{% endblock %}

{% block jquery %}
<script>
    $('#id_cpf').mask('000.000.000-00', {reverse: true});
    $('#id_matricula').mask('0000-0', {reverse: true});
    $('#id_telefone').mask('(00) 00000-0000');

    {% if not funcionario_db.setor %}
        $("#id_setor").empty();
    {% endif %}

    $('#id_gerencia').change(function(){
        var url_setores = $("#funcionarioForm").attr("data-setores-url");
        var gerenciaId = $(this).val();

        $.ajax({
        url: url_setores,
        data: {
           'gerencia': gerenciaId
        },
        success: function(data){
            $('#id_setor').html(data)
        }
        });
    });
</script>
{% endblock %}
