{% extends 'layout/layout_principal.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}
<div class="page-header">
    <h3 class="page-title">Cadastro de Usuário</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Usuário</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cadastar</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cadastro de usuário</h4>
                <form action="" method="post" autocomplete="off">
                    {% csrf_token %}
                    {{ user_form|crispy }}
                    <button class="btn btn-primary mr-2">Enviar</button>
                    <a class="btn btn-dark" href="{% url 'listar_usuarios' %}">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}