{% extends 'layout/layout_principal.html' %}
{% load static %}

{% block conteudo %}
<div class="page-header">
    <h3 class="page-title"> Visitantes </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Visitante</a></li>
            <li class="breadcrumb-item active" aria-current="page">Listar</li>
        </ol>
    </nav>
</div>

{% include 'utils/_alert.html' %}

<div class="row">
    <div class="col-md-4 mb-4">
        <a href="{% url 'visitantes:persistir' %}" class="btn btn-inverse-info btn-fw">Criar Visitante</a>
    </div>
    <div class="col-md-4 mb-4">
        <a href="{% url 'visitantes:visitantes_excel' %}" class="btn btn-inverse-success">Exportar em Excel</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Visitantes</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Sexo</th>
                            <th>Data de nascimento</th>
                            <th>Telefone</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for visitante in page_obj %}
                        <tr>
                            <td>
                                {% if visitante.foto %}
                                <img src="{{visitante.foto.avatar.url}}" alt="">
                                {% else %}
                                <img src="{% static 'assets/img_guardiao/img_user_list.png' %}" alt="">
                                {% endif %}
                            </td>
                            <td>{{visitante.nome}}</td>
                            <td>{{visitante.cpf}}</td>
                            <td>{{visitante.sexo}}</td>
                            <td>{{visitante.data_nascimento|date:'d/m/Y'}}</td>
                            <td>{{visitante.telefone}}</td>
                            <td>
                                <a href="{% url 'visitantes:detalhar' visitante.id %}" data-toggle="tooltip"
                                   data-placement="top" title="Detalhes">
                                    <i class="mdi mdi-glasses"></i>
                                </a>
                                <a href="{% url 'visitantes:editar' visitante.id %}" data-toggle="tooltip"
                                   data-placement="top" title="Editar">
                                    <i class="mdi mdi-border-color"></i>
                                </a>
                                <a href="{% url 'visitantes:deletar' visitante.id %}" data-toggle="tooltip"
                                   data-placement="top" title="Deletar">
                                    <i class="mdi mdi-delete-forever"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    {% include 'utils/_paginacao.html' %}

    {% endblock %}

    {% block jquery %}
    <script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

    </script>
    {% endblock %}
